* {
  outline: 2px solid red;
}

.container {
    display: flex;
    justify-content: space-between ;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
    
}

.logo {
    color: #f9faf8;
    font-size: 24px;

}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}